<suite name="TestNG Suite">
    <test name="TestGoogle">
        <classes>
            <class name="TestNG.TestNGLearn">
                <methods>
                    <include name="TestGoogle"></include>
                </methods>
            </class>
        </classes>
    </test>
    <test name="TestFacebook">
        <classes>
            <class name="TestNG.TestNGLearn">
                <methods>
                    <include name="TestFacebook"></include>
                </methods>
            </class>
        </classes>
    </test>
    <test name="LogIn">
        <classes>
            <class name="TestNG.orageHRM">
                <methods>
                    <include name="ALaunchApp"/>
                    <include name="BEnterLoginDetails"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="MyInfo">
        <classes>
            <class name="TestNG.orageHRM">
                <methods>
                    <include name="ALaunchApp"/>
                    <include name="BEnterLoginDetails"/>
                    <include name="CnavigateToMyInfo"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>